.generateBtn{    
    margin: 0;
    padding: 0;
    height: 2.45rem;
    width: 2.45rem;
    align-items: center;
    min-height: 0;
}

.showPrint{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap !important;
}