@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "~@openmrs/esm-styleguide/src/vars";

.modalBody {
    overflow-y: visible;
    :global(.cds--text-input), :global(.cds--list-box input[role=combobox]), :global(.cds--list-box input[type=text]),
    :global(.cds--select-input), :global(.cds--text-area), :global(.cds--number > div.cds--number__input-wrapper > input[type=number])
    {
        background-color: $ui-02;    
    }
}

.section{
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.storageLevelOptions{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: space-between;
}

.errorText{
    color: $danger
}